@charset "utf-8";
html{-webkit-font-smoothing:antialiased}
body,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ul,ol,li,form,button,input,textarea,th,td{margin:0;padding:0}
body,button,input,select,textarea{font-family: "Microsoft Yahei", Arial, "宋体";font-size: 12px;}
h1,h2,h3,h4,h5,h6{font-size:100%}
address,cite,dfn,em,var,i{font-style:normal}
code,kbd,pre,samp{font-family:courier new,courier,monospace,arial,\5b8b\4f53}
form{display:inline}
small{font-size:12px}
ul,ol{list-style:none}
a{text-decoration:none;}
a:hover{text-decoration:none;}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
img{vertical-align:top;border:0;-ms-interpolation-mode:bicubic}
button,input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
input,button,select,textarea{outline:none}
textarea{resize:none}
.hidden{display:none}